[submodule "Components/EWaste-Servo"]
	path = Components/EWaste-Servo
	url = https://github.com/Jmack66/EWaste-Servo

[submodule "Components/test"]
	path = Components/test
	url = https://github.com/Jmack66/TVC-Sim